.header {
  background-color: red;
  color: white;
  height: 150px;
}
.menu {
  background-color: aqua ;
  color: black;
  height: 700px;
}
.content {
  background-color: pink;
  color: black;
  height: 700px;
}
.footer {
  background-color: yellow;
  color: black;
  height: 150px;
}
